.hero {
  background-image: url('../images/backgrounds/back_index.jpg');
  min-height: 650px;
  height: 100vh;
  color: $color_white;

  @include flex-prop;
  flex-direction: column;
  justify-content: space-between;
  align-items: centerl;

  @include phones {
    min-height: 568px;
  }

  &--blog {
    justify-content: initial;
  }
}

.hero__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__top-left {
  padding-top: 1.7rem;
  padding-left: 2rem;
  width: 50%;
  @include phones {
    padding-top: 1rem;
    padding-left: 0.4rem;
  }
}
.hero__top-right {
  position: relative;
  z-index: 200;
  padding-top: 0.5rem;
  padding-right: 1.8rem;
  width: 50%;

  @include wide {
    padding-right: 2rem;
  }
  @include phones {
    padding-right: 0.8rem;
  }
}

.hero__center {
  width: 100%;
  position: relative;
  padding-bottom: 2.5rem;

  &--blog {
    width: initial;
    margin: auto;
  }
}

.hero__description {
  text-align: center;
  margin-top: 1rem;
}
.hero__header {
  position: relative;
}
.hero__info {
  margin-top: 15%;
  @include font-roboto(16px, 400);
}
.hero__button {
  margin-bottom: 4.3rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.hero__button-svg {
  fill: $color_white;
  width: 26px;
  height: 16px;
}
