.button {
  @include font-roboto(16px, 500);
  display: inline-block;
  padding: 0.75rem 1.7rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;

  @include phones {
    font-size: rem(14px);
  }

  @include hover-anim-many(
    (
      background-color: $color_green_hover,
      border-color: $color_green_hover_border
    )
  );
  &--color_green {
    color: $color_white;
    background-color: $color_green;
    border-color: $color_green;
    @include hover-anim-many(
      (
        background-color: $color_green_hover,
        border-color: $color_green_hover
      )
    );
  }
}
