.slider {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: minmax(552px, 75vh) minmax(184px, 25vh);

  @include tablets {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(500px, 50vh) minmax(275px, 25vh) minmax(
        215px,
        25vh
      );
  }
  @include phones {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(260px, 50vh) minmax(220px, 35vh) minmax(
        100px,
        15vh
      );
  }
  .slider__description {
    position: relative;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: $color_light_gray; // @include flex-prop; // flex-direction: column; // justify-content: center; // align-items: center;
    @include tablets {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    @include phones {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .slider__desription-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .slider__description-item {
      position: absolute;
      width: 100%;
      height: 100%;
      @include flex-prop;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      will-change: opacity;
      @include transition;
    }
  }
  &__title {
    width: 70%;
    position: relative;
    @include font-sansus(35px, 400);
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    @include wide {
      width: 50%;
    }
    @include tablets {
      width: 100%;
      font-size: 30px;
      padding-bottom: 1rem;
    }
    @include phones {
      width: 100%;
      font-size: 30px;
      padding-bottom: 1rem;
      font-size: rem(21px);
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 25%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 3px solid $color_dark;
      @include tablets {
        width: 12%;
      }
      @include phones {
        width: 12%;
      }
    }
  }
  &__text {
    margin-top: 1.5rem;
    @include font-roboto(16px, 500);
    color: $color_green_hover;
    text-transform: uppercase;
    @include tablets {
      margin-top: 1rem;
    }
    @include phones {
      margin-top: 1rem;
      font-size: rem(14px);
    }
  }
  &__link {
    margin-top: 4rem;
    @include tablets {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    @include phones {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
  .slider__current {
    position: relative;
    overflow: hidden;
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    @include tablets {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-color: #e1e4d7;
    }
    @include phones {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-color: #e1e4d7;
    }
    .slider__current-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .slider__current-item {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      opacity: 1;
      will-change: opacity;
      @include transition;
    }
  }
  &__preview {
    // width: 80%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  .slider__button {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    .slider__button-next-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .slider__button-next-item {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      will-change: opacity;
      @include transition;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #c2c7be;
        opacity: 0.6;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .slider__button-prev-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .slider__button-prev-item {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      will-change: opacity;
      @include transition;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #c2c7be;
        opacity: 0.6;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &--prev {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-color: rgba(176, 183, 170, 0.7);
      &:hover {
        .slider__svg {
          top: 60%;
        }
      }
      @include tablets {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      @include phones {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }
    &--next {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background-color: rgba(147, 153, 141, 0.7);
      &:hover {
        .slider__svg {
          top: 40%;
        }
      }
      @include tablets {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      @include phones {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }
  .slider__small-pic {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    .slider__button-img {
      filter: grayscale(40%);
    }
  }
  &__svg {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $color_white;
    @include transition;
  }
}
