$color_orange: #e45028;
$color_orange_hover: #c1401e;
$color_yellow: #f9b43b;
$color_white: #fff;
$color_dark_white: #f4f5f0;

$color_light_gray: #ebefe2;
$color_gray: #373e42;
$color_dark: #566358;
$color_dark_hover: #1f2122;
$color_dark_blur: #122620;

$color_green: #6c9c5a;
$color_green_hover: #4e8839;
$color_green_hover_border: #729e19;


// resolutions
$wide: 1800px;
$tablets: 768px;
$phones: 480px;