include config/_mixin
include config/_var

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" )
    link(rel='stylesheet' href='/styles/main.min.css')

    //- favicon block start
    //- favicon block end

  body
    .preloader#js-preloader
      .preloader__img
        svg.preloader__icon#preloader(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
          path(class="preloader__icon-path" d="M0,25Q12.5,10 25,25T50,25T75,25T100,25" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" fill="none")
          path(class="preloader__icon-path" d="M0,40Q12.5,25 25,40T50,40T75,40T100,40" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" fill="none")
          path(class="preloader__icon-path" d="M0,55Q12.5,40 25,55T50,55T75,55T100,55" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" fill="none")          
        #js-load-percent.preloader__text 0          
    div(class=`${wrapper}`)
      block content 
      block footer  
    script(src='/scripts/main.bundle.js')
    