.blog {
  @include flex-prop;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  height: 100%;
  color: $color_dark;
  padding-bottom: 14rem;

  @include wide {
    padding-bottom: 11rem;
  }
  @include tablets {
    padding-bottom: 16rem;
  }
  @include phones {
    padding-bottom: 22rem; 
  }
}

.blog__aside {
  width: 30.5%;
  padding: 5.3% 4.6% 5% 2%;
  text-align: right;
  @include transition;

  @include wide {
    width: 26.4%;
    padding-top: 3.4rem;
  }
  @include tablets {
    position: absolute;
    z-index: 100;
    right: 100%;
    height: 100%;
    width: 80%;
    background-color: $color_green;
  }
  @include phones {
    position: absolute;
    z-index: 100;
    right: 100%;
    height: 100%;
    width: 80%;
    background-color: $color_green;
  }
}
.blog__aside-open {
  display: none;
  position: absolute;
  width: 2rem;
  height: 3rem;
  right: 0;
  top: 50%;
  transform: translateX(50%);
  background-color: #6c9c5a;
  border-radius: 50%;
  @include tablets {
    display: block;
  }
  @include phones {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }
}
.blog__aside-item {
  &--active {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      height: 90%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-right: 3px solid $color_green_hover;
      @include tablets {
        border-right: 3px solid $color_white;
      }
      @include phones {
        border-right: 3px solid $color_white;
      }
    }

    .blog__aside-link {
      @include font-roboto(16px, 700);
      color: $color_green_hover;
      @include tablets {
        color: $color_white;
      }
      @include phones {
        color: $color_white;
      }
    }
  }
}
.blog__aside-link {
  position: relative;
  display: inline-block;
  padding-right: 1.4rem;
  margin: 0.8rem 0 0.8rem 1rem;
  @include font-roboto(16px, 400);
  line-height: 1.65rem;

  @include tablets {
    color: $color_white;
  }
  @include phones {
    color: $color_white;
  }
}

.blog__main {
  padding: 5% 6% 3% 3.5%;
  width: 66%;

  @include wide {
    width: 56%;
    padding-top: 3.2rem;
    padding-left: 2rem;
  }
  @include tablets {
    width: 100%;
    padding: 2.8rem 1rem 2.8rem 1.2rem;
  }
  @include phones {
    width: 100%;
    padding: 2.8rem 1rem 2.8rem 1.2rem;
  }
}

.blog__article {
  margin-top: 4rem;
  padding-bottom: 4.375rem;
  border-bottom: 5px solid rgba($color_gray, 0.07);

  @include tablets {
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
  @include phones {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
