extends ../main.layout.pug

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева'
    - var wrapper = 'wrapper wrapper--index'

block content
    .Background
        canvas.Background-canvas
    section.section.index
        .index__top
            a.button.button--login#button-login Авторизоваться
        .index__center#flipper
            .index__card
                .index__user.user
                    include ../common/user__pic.pug
                    +user__pic(`${picture}`)     
                    .user__description
                        .user__name.user__name--index Лебедев Андрей
                        .user__info Личный сайт разработчика
                .index__socials
                    - 
                        var socialLinks = [
                            ['vk',  'images/icons/sprite.svg#vk',     'https://vk.com/gygabyyyte' ],
                            ['git', 'images/icons/sprite.svg#github', 'https://github.com/GyGaByyyTe' ],
                            ['in',  'images/icons/sprite.svg#in',     'https://vk.com/gygabyyyte' ],
                        ]                      
                    include ../common/socials.pug
                    +socials('',socialLinks) 

                .index__pages
                    ul.pages
                        - 
                            var internalLinks = [
                                ['Мои работы', '/works'],
                                ['Обо мне',    '/about'],
                                ['Блог',       '/blog']
                            ]                   
                        each item in internalLinks
                            li.pages__item
                                a(href=`${item[1]}` class='pages__link') #{item[0]}
            .index__auth                            
                form.index__form.form.form--index(action='/login' method="POST")
                    .form__container                
                        h3.form__title Авторизуйтесь
                        if (msg)
                            .status= msg                        
                        .form__row
                            input(type='text' name='login' class='form__input' required)
                        .form__row
                            input(type='password' name='password' class='form__input' required)  
                        .form__row
                            label.form__custom-checkbox
                                input(class="form__custom-checkbox-real" type="checkbox" name="isHuman")
                                span.form__checkbox-custom
                                span.form__block-title Я человек                     
                        .form__row          
                            label.form__label Вы точно не робот?                                         
                    .form__custom-radio
                        label.form__custom-radiobutton
                            input(class="form__custom-radio-real" type="radio" name="isRealHuman" value="yes")
                            span.form__radio-custom
                            span.form__block-title Да
                        label.form__custom-radiobutton
                            input(class="form__custom-radio-real" type="radio" name="isRealHuman" value="no")
                            span.form__radio-custom
                            span.form__block-title Не уверен

                    .form__buttons
                        <button type="reset" class="form__button form__button--home">На главную</button>                             
                        <button type="submit" class="form__button form__button--login">Войти</button>                        
        .index__bot
            .copyright
                p © Андрей Лебедев | Cоздано с любовью в LoftSchool | 2018
    script(src='/scripts/water.js' defer)